@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Cookie&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-updown{
    animation-name: rightleft;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: rotate(30deg);
}


@keyframes rightleft {
    0% {
        transform: rotate(0deg);
    }
    50%{
      transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
  }
  